@model int 
@{
    ViewData["Title"] = "Mulai Pengisian Survei";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    int take = (int)ViewData["take"];
}

<div class="module form-modal">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pengisian Survei</h3>
            <div class="card-tools">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <center>
                <img src="~/img/img_open.gif" style="width:50%" />
                <br />
                <p>
                    Survei ini terdiri dari 3 bagian, yang secara keseluruhan akan membutuhkan waktu pengisian kurang lebih 15 menit. Jika tidak dapat menyelesaikan survei dalam satu kali pengisian, Anda bisa menyimpan sementara jawaban dengan klik “simpan respon” pada pertanyaan terakhir. Isian yang sudah dilakukan akan tersimpan dalam sistem. Anda dapat melanjutkan pengisian pada waktu yang berbeda.
                </p>
                <br />
                <a href="~/survey-participant/detail/@Model?take=@take" id="close_form" class="btn btn-primary">Mulai Isi Survei</a>
            </center>
        </div>
        <!-- /.card-body -->
    </div>
</div>
