@{
    List<FormModel> FormModels = (List<FormModel>)ViewData["Forms"];
    int ColumnNumber = 1;
    if(ViewData["ColumnNumber"] != null)
    {
        ColumnNumber = (int)ViewData["ColumnNumber"];
    }
}

<form class="form-horizontal">
    <div class="card-body">
        @if (ColumnNumber == 1)
        {
            @await Html.PartialAsync("~/Views/Shared/_FormSubView.cshtml", FormModels)
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    @await Html.PartialAsync("~/Views/Shared/_FormSubView.cshtml", FormModels.Where(x => x.FormPosition == FormPosition.LEFT).ToList())
                </div>
                <div class="col-md-6">
                    @await Html.PartialAsync("~/Views/Shared/_FormSubView.cshtml", FormModels.Where(x => x.FormPosition == FormPosition.RIGHT).ToList())
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @await Html.PartialAsync("~/Views/Shared/_FormSubView.cshtml", FormModels.Where(x => x.FormPosition == FormPosition.FULL).ToList())
                </div>
            </div>
        }
    </div>
    <!-- /.card-body -->
</form>