
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section scripts {
    <script src="~/Views/Employee/employee.js"></script>
}

<div class="module employees">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Inbox</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-sm btn-primary" data-card-widget="collapse">
                    <i class="fas fa-plus"></i> Tambah
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    </div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbl-grid" class="table table-striped table-scrollable table-bordered table-hover table-checkable order-column">
                            <thead>
                                <tr>
                                    <th style="width: 5%; min-width: 20px">No.&nbsp;</th>
                                    <th style="width: 5%; min-width: 80px">Action</th>
                                    <th><a class="sortTable" data-sort="Nama Wilayah" data-order="" data-uri="" href="#" style="color: #000; cursor:pointer;padding-right: 20px;background: url(https://attendance.mobis.id/assets/img/sort_both.png) no-repeat center right;">Nama Wilayah</a></th>
                                    <th><a class="sortTable" data-sort="Keterangan" data-order="" data-uri="" href="#" style="color: #000; cursor:pointer;padding-right: 20px;background: url(https://attendance.mobis.id/assets/img/sort_both.png) no-repeat center right;">Keterangan</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td nowrap="" style="">
                                        <a href="https://attendance.mobis.id/datamaster/region/form/edit/12?" role="button" data-toggle="tooltip" data-placement="top" title="UBAH">
                                            <i class="fa fa-pencil btn-grid"></i>
                                        </a>&nbsp;
                                        <a data-bb="prompt" data-msg="Anda akan menghapus data ini ?" data-confirm="true" href="https://attendance.mobis.id/datamaster/region/remove/12?" role="button" data-toggle="tooltip" data-placement="top" title="HAPUS">
                                            <i class="fa fa-trash-o btn-grid"></i>
                                        </a>&nbsp;
                                    </td>
                                    <td style="width: 15%;min-width: 15px;">Balinus</td>
                                    <td style="width: 60%;min-width: 600px;">Bali, NTB, NTT</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>

    <div class="px-2 mt-2" style="padding: 15px; display:flex">

        <input id="keyword" class="form-control-sm" placeholder="Search Keyword" />
        <button id="search_employee" class="btn btn-sm btn-success w-15 ml-2">
            <span class="spinner-border spinner-border-sm mr-1" role="status" style="display:none"></span>
            <i class="fa fa-search mr-1"></i>
            Search
        </button>
        <button type="button" id="add_employee" data-toggle="modal" class="employee-add btn btn-outline-secondary btn-sm ml-1">Add New Employee</button>
    </div>


    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center" style="margin-bottom: 60px; padding-left: 10px; padding-right: 10px;">
        <table id="employees_list" class="table table-bordered table-sm table-striped table-bordered" style="padding-left: 25px">
            <thead>
                <tr class="theme-secondary" style="background-color: #2b88d8; text-align:center;padding:25px;">
                    <th style="padding-left: 15px;">First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Date Joined</th>
                    <th>Last Updated</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                @*This is a comment. The data of body will come from a partial view.*@
            </tbody>
        </table>
        <div class="employee-form-container" id="employee_form" style="width: 100%; height:100%">
            @*We'll display add new employee form here.*@
        </div>
    </div>
</div>