@page
@model AdminLte.Areas.Identity.Pages.Account.IndexModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="error-page">
    <h2 class="headline text-warning"> 403</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! You not have access here</h3>

        <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.
        </p>

        <form class="search-form">
            <div class="input-group">
                <a href="~/home" class="btn btn-warning">
                    Kembali ke Beranda
                </a>
            </div>
            <!-- /.input-group -->
        </form>
    </div>
    <!-- /.error-content -->
</div>