@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Frontpage/_Layout.cshtml";
}

<!-- Content -->
<article class="box feature">
    <section>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <span class="image featured"><img src="~/img/foto_dirs.jpg" alt="" /></span>
            </div>
            <div class="col-8 col-6-medium col-12-small">
                <h3>Semangat Pagi Perwira!</h3>
                <p>
                    Budaya dan employee engagement merupakan faktor penting dalam membangun suasana kerja yang optimal untuk menciptakan kinerja organisasi yang unggul, sehingga memberikan dampak positif bagi pekerja dan perusahaan. Oleh karena itu, Perusahaan berusaha secara terus-menerus untuk meningkatkan budaya kinerja yang tinggi serta employee engagement yang dapat meningkatkan motivasi pekerja untuk terus belajar, berkembang dan berkontribusi di lingkungan perusahaan.  Sebagai salah satu rangkaian proses, diperlukan pengukuran dan gambaran yang jelas terkait kondisi budaya dan employee engagement saat ini sebagai dasar penyusunan program yang efektif.
                </p>
                <p>
                    Sehubungan dengan hal tersebut, Saya mendorong para Perwira di Pertamina Group untuk berkontribusi dalam culture dan employee engagement assessment yang akan menjadi masukan berarti bagi Perusahaan dalam menentukan langkah ke depan untuk menciptakan High Performance Culture yang dapat mendukung Pertamina mencapai aspirasi sebagai Perusahaan Global Energi Terdepan.
                </p>
                <p>
                    Saya ucapkan terima kasih atas dukungan dan kerjasama yang baik.
                    <br />
                    Salam,<br />
                    Direktur Direktur Sumber Daya Manusia<br />
                    PT. Pertamina Persero<br />
                    <br />
                    Erry Sugiharto<br />
                </p>
            </div>
            <div class="col-12">
                <h2 class="major"></h2>
                <ul class="actions" style="margin:0px">
                    <li><a href="/home" class="button large">Mulai Survei</a></li>
                </ul>
            </div>
        </div>
    </section>
</article>