@{
    var survey = (QuestionPackage)ViewData["Survey"];

    ViewData["Title"] = "Hasil Survei - " + survey.Name;
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var tabActive = (int)ViewData["Tab"];

    var tabActive0 = tabActive == 0 ? "show active" : "";
    var tabActive1 = tabActive == 1 ? "show active" : "";
    var tabActive2 = tabActive == 2 ? "show active" : "";
    var tabActive3 = tabActive == 3 ? "show active" : "";
}

<div class="module form-modal">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Hasil Survei</h3>
            <div class="card-tools">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <ul class="nav nav-tabs" id="result-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @tabActive0" href="~/survey/result/2/0" role="tab" aria-controls="participant" aria-selected="true">Daftar Peserta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @tabActive1" href="~/survey/result/2/1" aria-selected="false">Hasil Akhlak</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @tabActive2" href="~/survey/result/2/2" aria-selected="false">Hasil Engagement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @tabActive3" href="~/survey/result/2/3" aria-selected="false">Hasil Kinerja</a>
                </li>
            </ul>
            <div class="tab-content" id="result-tabContent">
                <div class="tab-pane fade show active" id="participant" role="tabpanel" aria-labelledby="participant-tab">
                    <div class="card">
                        <div class="card-body">
                            @if (tabActive == 0)
                            {
                                <div>
                                    @await Html.PartialAsync("~/Views/Survey/ResultParticipant.cshtml");
                                </div>
                            }
                            else if (tabActive == 1)
                            {
                                @await Html.PartialAsync("~/Views/Survey/ResultCulture.cshtml");
                            }
                            else if (tabActive == 3)
                            {
                                @await Html.PartialAsync("~/Views/Survey/ResultPerformance.cshtml");
                            }
                            else if (tabActive == 2)
                            {
                                @await Html.PartialAsync("~/Views/Survey/ResultEngagement.cshtml");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
    </div>
</div>